
h2 {
  opacity: 0;
  margin: 0 0 24px;
  mix-blend-mode: difference;
  display: inline-block;
  span.char {
    opacity: 0;
    transform: scale(0.6);
    transition: all 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33);
    &.show {
      opacity: 1;
      transform: scale(1);
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
.intro {
  min-height: 100vh;
  .bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .particles-holder {
      width: 50%;
      height: 80%;
      margin: 10vh auto;
    }
  }
  .inner-section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    .container {
      position: relative;
      z-index: 1;
    }
    h1 {
      display: inline;
      mix-blend-mode: difference;
      opacity: 0;
      span.char {
        opacity: 0;
        transform: scale(0.6);
        transition: all 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33);
        &.show {
          opacity: 1;
          transform: scale(1);
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    p {
      margin-top: 16px;
      opacity: 0;
      span.char {
        opacity: 0;
        transform: scale(0.6);
        transition: all 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33);
        &.show {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
.about {
  margin: 240px 0 120px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-holder {
      width: 300px;
      font-size: 0;
      order: 1;
      margin-left: 64px;
      img {
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px  30px 0px rgba(97, 137, 47, 0.5), 0px 0px  30px 0px rgba(97, 137, 47, 0.5) inset;
        transition: all 0.3s ease-in-out;
        &:hover {
          box-shadow: 0px 0px  40px 0px rgba(134, 194, 50, 0.5), 0px 0px  40px 0px rgba(134, 194, 50, 0.5) inset;
        }
      }
    }
    .text-holder {
      width: calc(100% - 350px);
      p {
        margin: 0 0 16px;
      }
    }
  }
}
.skills {
  margin: 240px 0 120px;
  .container {
    > p {
      max-width: 640px;
    }
    .skill-items {
      margin: 32px 0 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .skill-item {
        width: calc(50% - 16px);
        display: flex;
        margin: 0 0 24px;
        .ico-holder {
          width: 76px;
          text-align: center;
          font-size: 18px;
          i {
            color: $secondary;
            font-size: 36px;
            width: 100%;
          }
        }
        .bar-holder {
          width: calc(100% - 84px);
          height: 7px;
          margin-top: 14px;
          margin-left: 8px;
          background: $text_color;
          .bar {
            display: block;
            width: 0;
            transition: all 1.2s ease-in-out;
            height: 100%;
            background-color: $secondary;
          }
        }
      }
    }
    .skill-cloud {
      .tagcloud {
        margin: 0 auto;
        font-size: 32px;
        font-weight: 600;
        .tagcloud--item {
          color: $primary;
          transition: color 0.3s ease-in-out;
          &:hover {
            text-shadow: 1px 1px 3px $primary;
            color: $secondary;
          }
        }
      }
    }
  }
}
.portfolio {
  margin: 240px 0 120px;
  .container {
    > p {
      max-width: 640px;
    }
  }
  .portfolio-items {
    margin: 64px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 48px);
    perspective: 1000px;
    .portfolio-item {
      width: calc(100% / 3 - 24px);
      margin: 0 0 24px;
      border: 2px solid $grey;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 0px 0px rgba(134, 194, 50, 0.0);
      transition: box-shadow 0.6s ease-in-out;
      &:hover {
        box-shadow: 0 0 16px 0px rgba(134, 194, 50, 0.3);
      }
      .image-holder {
        font-size: 0;
      }
      .content-holder {
        padding: 16px 12px;
        .title {
          display: block;
          font-size: 24px;
          font-weight: 500;
          margin: 0 0 8px;
          color: white;
          &:hover {
            color: $secondary;
          }
        }
        ul {
          li {
            position: relative;
            padding-left: 12px;
            font-size: 18px;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 8px;
              width: 6px;
              height: 6px;
              background-color: $secondary;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}
.contact {
  margin: 240px 0 120px;
  .form-holder {
    margin: 32px 0 0;
    max-width: 640px;
  }
}

section.has-label {
  position: relative;
  .inner-section {
    position: relative;
    z-index: 1;
  }
  &::before {
    position: absolute;
    color: #474B4F;
    right: 25%;
    top: -200px;
    font-family: 'Khand', sans-serif;
    font-size: 240px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.5;
  }
  &.about {
    &::before { content: 'About'; }
  }
  &.skills {
    &::before { content: 'Skills'; }
  }
  &.portfolio {
    &::before { content: 'Works'; }
  }
  &.contact {
    &::before { content: 'Contact'; }
  }
}